<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Visualisation_Dashboard</title>
</head>
<body>
  <div class="navbar">
    <a class = "button" routerLink="bar" routerLinkActive="activebutton">Bar</a>
    <a class = "button" routerLink="line" routerLinkActive="activebutton">Line</a>
    <a class = "button" routerLink="pie" routerLinkActive="activebutton">Pie</a>
    <a class = "button" routerLink="doughnut" routerLinkActive="activebutton">Doughnut</a>
    <a class = "button" routerLink="topics" routerLinkActive="activebutton">Topics</a>
    <a class = "button" routerLink="doughnut" routerLinkActive="activebutton">Intensity</a>
    <a class = "button" routerLink="pie" routerLinkActive="activebutton">End-year</a>
    <a class = "button" routerLink="pie" routerLinkActive="activebutton">Relevance</a>
    
  </div>
</body>
</html>